
<!--Show a Login nav component-->
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item pt-lg-1">
        <a class="nav-link" href="#">Hello @User.Identity.Name</a>
    </li>
    <li class="nav-item pt-lg-1">
        <a class="nav-link" asp-area="" asp-page-handler="Logout" asp-page="/Index">Logout</a>
    </li>
}
else
{
    <li class="nav-item pt-lg-1">
        <a class="nav-link" asp-area="" asp-page-handler="Login" asp-page="/Index">Login</a>
    </li>
}
